{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp - Current weather</title>
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="oleo-script-regular"><a href="http://127.0.0.1:8000/weather/current_weather/">WeatherApp</a></div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/weather/weather_forecast/">Weather forecast</a></li>
                <li><a href="#">Record</a></li>
                <div class="account">
                    <button>Account</button>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <section class="current-weather">
            <h1>Current Weather</h1>
            <form id="searchForm">
                <input type="text" id="searchInput" placeholder="Enter location" required>
                <select id="unit">
                    <option value="Kelvin">Kelvin</option>
                    <option value="Celsius">Celsius</option>
                    <option value="Fahrenheit">Fahrenheit</option>
                </select>
                <button type="submit">Search</button>
            </form>
            <div class="weather-details">
                <div class="temp-section">
                    <div class="temp-icon">
                        <img src="{% static '../static/images/cloudy.svg' %}" alt="Weather Icon">
                    </div>
                    <div class="temp-info">
                        <span class="temperature" style="font-size: 48px; font-weight: bold;">15°C</span>
                        <span class="real-feel">Feels like <span class="feels_like">13º</span></span>
                    </div>
                </div>
                <div class="additional-info">
                    <p><span class="weather_condition">Some clouds</span></p>
                    <p>Wind: <span class="wind_speed">13 m/s</span></p>
                    <p>Humidity: <span class="humidity">50%</span></p>
                </div>
            </div>
            <div class="timestamp" id="timestamp"></div>
        </section>
    </main>
    <script src="{% static '../static/js/scriptcurrent_weather.js' %}"></script>    
</body>
</html>



