{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/homeStyle.css' %}">
    <title>Weather.com</title>
</head>
<body>
    <header>
        <div class="welcome">
            <h1 class="text">Welcome to WEATHER.COM</h1>
            <h3 class="text">Check your weather, check the weather of places around the world</h3>
            <h3 id="consData" class="text">Check their respective data</h3>
            <h3 id="allApp" class="text">All from a single application</h3>
            <h4>JOIN NOW!</h4>
        </div>
    </header>
    <div class="container">
    <div class="form">
        <h1>LOGIN</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="password">
                <input type="password" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <input type="button" value="Register">
        </form>
    </div>
    </div>
</body>
</html>