<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homeStyle.css">
    <title>Weather.com</title>
</head>
<body>
    <header>
        <div class="bienvenida">
            <h1 class="text">Bienvenido a WEATHER.COM</h1>
            <h3 class="text">Consulta tu clima, consulta el clima de lugares del mundo</h3>
            <h3 id="consData" class="text">Consulta sus respectivos datos</h3>
            <h3 id="allApp" class="text">Todo desde una misma aplicación</h3>
            <h4>¡ENTRA YA!</h4>
        </div>
    </header>
    <div class="container">
    <div class="formulario">
        <h1>INICIAR SESIÓN</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label >Nombre de usuario</label>
            </div>
            <div class="password">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <input type="submit" value="Iniciar">
            <input type="button" value="Registrarme">
        </form>
    </div>
    </div>

    
</body>
</html>